<h1 class="title-amapiens">Les paniers mis à votre disposition par les autres amapiens :</h1>
<div class="right-col-cat">
  <% @gifts.each do |gift| %>
    <div class="amapiens-category-list">
        <div class="amapiens-category-icone">
            <%= image_tag gift.option.category.photo, width: '80px', height: '80px' %>
        </div>
        <div class="amapiens-gift-content">
            <p>Contenu du panier: <%= gift.option.content  %></p>
            <% if gift.giver.first_name %>
                <p>De la part de : <%= gift.giver.first_name %></p>
            <% else %>
                <p>Vous venez de laisser ces produits</p>
            <% end %>
        </div>
        <% if gift.giver != current_user %>
            <button class="amapiens-button"><%= link_to 'Ca me ferait plaisir! :)', amapiens_path(gift: gift.id), method: :patch %></button>
        <% end %>
    </div>
  <% end %>

</div>
  <p class="back"><%= link_to "Retour à l'Accueil", dashboard_path %></p>
