
<div class="banner-home">
  <h1>Mon Amap en toute simplicité</h1>
  <p class="tagline">Choisir ses produits, s'abonner pour l'année, gérer ses paniers et son calendrier.</p>
  <!-- <div class="subscribe-button"> -->
    <%= link_to 'Adhérer', new_subscription_path, class:"subscribe-button" %>
    <!-- </div> -->
  </div>

    <h2>Pourquoi une AMAP ?</h2>
    <div class="why">
      <div class="why-card">
        <p>Ecologiquement</p><p>sain</p>
        <div class="why-car1">
          <%= image_tag("home-green.png") %>
        </div>
      </div>
      <div class="why-card why-card2">
        <p>Socialement</p><p>équitable</p>
        <%= image_tag("home-social2.png") %>
      </div>
      <div class="why-card why-card3">
        <p>Economiquement</p><p>viable</p>
        <%= image_tag("home-eco.png") %>
      </div>

  </div>

    <h2>Nos produits, tout beaux, tout Bio :</h2>
  <div class="categories-list">
    <div class="categories-inline">
      <span class="categories-home">
        <%=image_tag("icon-vegetables.png")%>
        <p>Légumes</p>
      </span>
      <span class="categories-home">
        <%= image_tag("icon-fruits.png") %>
        <p>Fruits</p>
      </span>
      <span class="categories-home">
        <%= image_tag("icon-cheese.png") %>
        <p>Fromages</p>
      </span>
      <span class="categories-home">
        <%= image_tag("icon-bread.png") %>
        <p>Pain</p>
      </span>
      <span class="categories-home">
        <%= image_tag("icon-flour.png") %>
        <p>Farine</p>
      </span>
    </div>
      <div class="categories-inline">
        <span class="categories-home">
          <%= image_tag("icon-chicken.png") %>
          <p>Volaille</p>
        </span>
        <span class="categories-home">
          <%= image_tag("icon-pork.png") %>
          <p>Porc</p>
        </span>
        <span class="categories-home">
          <%= image_tag("icon-beef.png") %>
          <p>Boeuf</p>
        </span>
        <span class="categories-home">
          <%= image_tag("icon-veal.png") %>
          <p>Veau</p>
        </span>
        <span class="categories-home">
          <%= image_tag("icon-eggs.png") %>
          <p>Oeufs</p>
        </span>
      </div>
      <h3 class="last-text">Distribution tous les mercredis, à Curis-au-Mont-d'Or</h3>
  </div>

