<h1>Choisissez vos produits et vos formules :</h1>

<div class="wrapper">
  <div class="left-column">
    <%= simple_form_for :category, url: subscriptions_path, method: 'post' do |f| %>

          <% @categories.each do |category| %>

            <div class="subscription-category-card">
                <h4><%= category.name %></h4>
                <p><%= category.producer.description %></p>
                  <%# <p>Légumes issus de l'agriculture en Biodynamie d'Adrien, à Curis-au-Mont d'Or.</p> %>

                  <div class="wrap-categories">
                <% category.options.each do |option| %>
                    <div class="subscriptions_target">
                      <input id="<%= option.id %>" data-category="<%= option.category.name %>" data-price="<%= option.price %>" data-name="<%= option.name %>" class="script-selector" type="radio" value="<%= option.id %>" name="category[<%= category.id %>]"> <%= option.name %> : <%= option.price %> €
                        <label for="<%= option.id %>"><%= option.name %> : <%= option.price %> €</label>
                    </div>
                <% end %>

            </div>
                  </div>
          <% end %>
        <div class="options-submit">
          <%= f.button :submit, value="Valider mon adhésion" %>
        </div>
    <% end %>
  </div>


  <div class="right-column">
    <div class="total-card">
      <p>Légumes : Méli-Mélo</p>
      <p>Volaille : Famille</p>
      <div class="total-inline">
        <h2>Total :</h2>
        <h2>44 €</h2>
      </div>

    </div>






  </div>
</div>


<%# <script type="text/javascript">

  const inputs = document.querySelectorAll('.script-selector');
  const labels = document.querySelectorAll('.subscriptions_target');

    inputs.forEach(input =>
      input.addEventListener("click", function firstStep(){
        if(input.checked == true){
          input.addEventListener("click", function secondStep() {
            if(input.checked == false){

              input.checked = true

            } else {
              input.checked = false

            }
          });
        }
    }));

</script> %>
