<div class= "payment-container">
  <div class= "row">
    <% @order.options.each do |option| %>
      <div class="payment-category-list">
        <div class="payment-category-icone">
          <%= image_tag option.category.photo, width: '80px', height: '80px' %>
        </div>
        <div class="payment-options">
          <h4> Category: <%= option.category.name %> </h4>
          <p>Option: <%= option.name %></p>
          <p>Price : <%= humanized_money_with_symbol(option.price) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="buttons">
    <h4>Total annuel : <%= humanized_money_with_symbol(@order.amount)%></h4>
    <button class="btn btn-primary pay">Payer en une fois</button>
    <button class="btn btn-primary pay">Payer en plusieurs fois</button>
    <button ><%= link_to 'Annuler', root_path %></button>

    <!-- Script for stripe payment -->
    <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButtons = document.querySelectorAll('.pay');
        if (paymentButtons){
        paymentButtons.forEach(paybutton => {
          paybutton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        });
        };
      </script>

  </div>
</div>