<h1 id="title-producer"><%= @producer.first_name %> <%= @producer.last_name %></h1>
<h2 id="subtitle-producer">Producteur de légumes</h2>
<div class="producer-photo">
</div>

<div class="producer-details">
<h3>Petit historique</h3>
<p>En 2011, Camille, Marion et François, amis d’enfance et maraîchers dans l’âme depuis toujours, ont décidé de s’installer dans les Monts d’Or sur la commune de Curis au Mont d’Or grâce au soutien du syndicat mixte des Monts d’Or et du GAEC le Bouc et la Treille de Poleymieux.
Maraîchers engagés dès le début, ils ont fait le choix exigeant de s’installer en bio dès la première année et ils ont obtenu la certification AB en janvier 2013.</p>
<p>C’est ainsi qu’est né le GAEC du Boule d’Or (du nom d’une ancienne variété de navet , petit clin d’œil aux Monts d’or également). Leur projet était de cultiver des légumes anciens et des variétés oubliées. Dès la première année, ils ont souhaité fonctionner avec des AMAP afin d’être vraiment à l’écoute de leurs clients et de pouvoir adapter leur production à leurs demandes.
Travailler avec des AMAP leur garantissait également une plus grande viabilité et pérennité de leur exploitation.
Jusqu’à fin 2015, ils ont toujours travaillé selon ce projet initial.</p>

<h3>David, le nouveau maraîcher</h3>
<h4>Depuis début 2016</h4>
<p>Depuis le 1er janvier 2016, David et Aurélien, deux fils de viticulteur bio dans le Beaujolais, ont repris le GAEC du Boule d’Or et sont donc les nouveaux producteurs de Thou AMAPorte (Camille, Marion et François ont fait de nouveaux choix professionnels.)</p>
<h4>Biodynamie</h4>
<p>David et Aurélien souhaitent aller plus loin dans leur mode de production en convertissant le GAEC en Biodynamie afin de prendre plus en considération l’influence des astres et de la lune sur la qualité et la pousse des légumes</p>

<h3>En savoir plus…</h3>
<p><%= @producer.first_name %> <%= @producer.last_name %></p>
<p>david@mabelletomate.fr</p>

<p class="back"><%= link_to "Retour à l'Accueil", dashboard_path %></p>
</div>
